# Ignore these files & directories
.DS_Store
node_modules
*.sock
*env*
*xlsx
newrelic_agent.log
bower_components/
*.csr
*.pass.key
*.crt
*.key

Ignore the stuff in the public directory except for ...
# public/
!int3.txt

# Unless they match this file path